@import 'shared/styles/';

.burger {
  display: inline-block;
  background-image: url(../../../../shared/images/logo/mobile-burger.svg);
  width: 24px;
  height: 24px;
  align-items: start;
  background-color: transparent;
  @include media-query(desktop) {
    display: none;
  }
}
