@import '../../common.scss';

.productsList {
  display: inline-block;
  height: 200px;
  overflow: scroll;

  @include media-query(tablet) {
    height: 244px;
  }

  @include media-query(desktop) {
    height: 271px;
  }
}
// .productsList:not(:last-child) {
//   margin-bottom: 20px;
// }

.productsItem {
  display: flex;
  font-family: 'Verdana';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;
  color: $color-primary;
  padding-bottom: 8px;
  //   border-bottom: 1px solid $style-color-form;

  @include media-query(tablet) {
  }
}

.productsItem_title {
  width: 130px;
  margin-right: 8px;
  border-bottom: 1px solid $style-color-form;
  margin-bottom: 20px;

  @include media-query(tablet) {
    width: 240px;
    margin-right: 22px;
  }

  @include media-query(desktop) {
  }
}

.productsItem_weight {
  text-align: right;
  width: 49px;
  margin-right: 8px;
  border-bottom: 1px solid $style-color-form;
  margin-bottom: 20px;

  @include media-query(tablet) {
    width: 106px;
    margin-right: 46px;
  }

  @include media-query(desktop) {
    width: 107px;
    margin-right: 32px;
  }
}

.productsItem_cal {
  width: 58px;
  margin-right: 17px;
  border-bottom: 1px solid $style-color-form;
  margin-bottom: 20px;

  @include media-query(tablet) {
    width: 106px;
    margin-right: 32px;
    text-align: right;
  }

  @include media-query(desktop) {
  }
}

.btn {
  background-image: url(../../shared/images/DiaryPage/close.png);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $bg-color-primary;
  margin-right: 15px;

  @include media-query(tablet) {
    background-size: 12px 12px;
    width: 12px;
    height: 12px;
    margin-right: 40px;
  }
}
