@import '../../common.scss';

.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.formItem {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 100%;
}

.formInput {
  width: 100%;
  border: transparent;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  outline: transparent;
  padding-bottom: 20px;

  @include media-query(mobile) {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
  @include media-query(tablet) {
    width: 240px;
    margin-left: 0;
  }
}

.formLabel {
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  transition: 0.5s;
  //   font-family: 'Verdana';

  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;
  color: $color-secondary;
}

.formInput:focus ~ .formLabel,
.formInput:not(:focus):valid ~ .formLabel {
  top: -20px;
  font-size: 10px;
  color: $color-accent;
}
.formText {
  display: none;
}
.formInput:focus:valid ~ .formText {
  display: none;
}

.formInput:focus ~ .formText {
  display: block;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  transition: 0.5s;
  //   font-family: 'Verdana';

  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;
  color: $color-secondary;
  top: 40px;
  font-size: 10px;
  color: red;
}

.btnGroup {
  display: flex;
  gap: 20px;

  margin-top: 20px;
  @include media-query(mobile) {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  @include media-query(tablet) {
    flex-direction: row;
    gap: 32px;
    margin-left: 0;
  }
  @include media-query(desktop) {
  }
}

.btnActive {
  font-family: 'Verdana';

  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;

  padding: 13px 30px;
  min-width: 182px;

  color: $bg-color-primary;
  background-color: $color-accent;
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
  border-radius: 30px;

  @include media-query(tablet) {
    margin-bottom: 179px;
  }

  &:hover,
  &:focus {
    font-size: 15px;
    font-weight: 900;
    scale: 1.1;
    transition: 0.8s;
  }
}

.btn {
  font-family: 'Verdana';

  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;

  padding: 13px 30px;
  min-width: 182px;

  background-color: $bg-color-primary;
  color: $color-accent;
  border: 2px solid $color-accent;
  border-radius: 30px;

  @include media-query(tablet) {
    margin-bottom: 179px;
  }
}
