@import '../../common.scss';
// @import '../../shared/styles/index';

.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.input {
  border: transparent;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  outline: transparent;
  padding-bottom: 20px;
  @include media-query(mobile) {
    min-width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
  @include media-query(tablet) {
    width: 240px;
    margin-left: 0;
  }
  @include media-query(desktop) {
  }
}

.input::placeholder {
  font-family: 'Verdana';

  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;

  color: $color-secondary;
}

.btnGroup {
  display: flex;
  gap: 20px;

  margin-top: 20px;
  @include media-query(mobile) {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  @include media-query(tablet) {
    flex-direction: row;
    gap: 32px;
    margin-left: 0;
  }
  @include media-query(desktop) {
  }
}

.btnActive {
  font-family: 'Verdana';

  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;

  padding: 13px 30px;
  min-width: 182px;

  color: $bg-color-primary;
  background-color: $color-accent;
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
  border-radius: 30px;
}

.btn {
  font-family: 'Verdana';

  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;

  padding: 13px 30px;
  min-width: 182px;

  background-color: $bg-color-primary;
  color: $color-accent;
  border: 2px solid $color-accent;
  border-radius: 30px;
}
