.Form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.Input {
  width: 240px;

  border: transparent;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.Input::placeholder {
  font-family: 'Verdana';
  //   font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;

  color: #9b9faa;
  //    color: $color-secondary;
}

.BtnGroup {
  display: flex;
  gap: 32px;
}

.BtnActive {
  font-family: 'Verdana';
  // font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  // display: flex;
  // align-items: center;
  // text-align: center;
  letter-spacing: 0.04em;

  padding: 13px 30px;
  min-width: 182px;

  color: #ffffff;
  background-color: #fc842d;
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
  border-radius: 30px;
}

.Btn {
  font-family: 'Verdana';
  // font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  // display: flex;
  // align-items: center;
  // text-align: center;
  letter-spacing: 0.04em;

  padding: 13px 30px;
  min-width: 182px;
  background-color: #ffffff;
  color: #fc842d;
  border: 2px solid #fc842d;
  border-radius: 30px;
}
