@import 'shared/styles/';

.header {
  margin-top: 20px;
  border-bottom: 2px solid #e0e0e0;
  @include media-query(tablet) {
    border-bottom:none;
  }
  &Wrapp {
    margin-bottom: 50px;
  }
}
.nav {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  justify-content: center;
  @include media-query(tablet) {
    justify-content: space-between;
  }
  @include media-query(desktop) {
    align-items: flex-end;
    justify-content: flex-start;
  }
}
