@import '../../common.scss';

.button {
  width: 210px;
  height: 43px;
  color: #ffffff;
  background: #fc842d;
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
  border-radius: 30px;
}
.border {
  border-top: 1px solid #e0e0e0;
}
