@import '../../common.scss';

.title {
  font-family: 'VerdanaBold';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.44;
  color: $color-primary;
  margin-bottom: 40px;

  @include media-query(tablet) {
    width: 509px;
    font-size: 26px;
    line-height: 1.23;
    margin-bottom: 20px;
  }
}
.wrapper {
  margin: 0 auto;
  width: 280px;
  @include media-query(tablet) {
    width: 330px;
  }
}
.dailyRate {
  font-family: 'VerdanaBold';
  font-weight: 700;
  font-size: 48px;
  line-height: 1.21;
  text-align: center;
  letter-spacing: 0.04em;
  color: $color-secondary-accent;
  padding-bottom: 32px;
  border-bottom: 1px solid #e0e0e0;
}
.kcal {
  font-size: 14px;
  font-weight: 700;
}
.list {
  padding-left: 20px;
}
.titleList {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 280px;
  font-family: 'VerdanaBold';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;
  text-align: left;
  color: $color-primary;
  @include media-query(tablet) {
    padding-top: 12px;
  }
}
.item {
  font-family: 'Verdana';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;
  text-align: left;
  color: $color-secondary;
  margin-bottom: 20px;
}

.button {
  font-family: 'Verdana';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;
  padding: 13px 25px;
  margin-top: 20px;
  width: 210px;
  height: 43px;

  color: $color-accent;
  background-color: $bg-color-primary;
  border: 2px solid $color-accent;
  border-radius: 30px;
  &:hover,
  &:focus {
    color: $bg-color-primary;
    background-color: $color-accent;
    box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
    scale: 1.05;
    transition: 500ms;
  }
}
