// @import '../../common.scss';
@import '../../shared/styles/index';

.section {
  @include media-query(tablet) {
    padding-top: 176px;
    padding-bottom: 495px;

    background-image: url(../../shared/images/loginRegistrForm/strawberry_md.png),
      url(../../shared/images/loginRegistrForm/banana_md.png),
      url(../../shared/images/loginRegistrForm/leaves_md.png),
      url(../../shared/images/loginRegistrForm/vector_md.svg);

    @include media-query(retina) {
      background-image: url(../../shared/images/loginRegistrForm/strawberry_md@2x.png),
        url(../../shared/images/loginRegistrForm/banana_md@2x.png),
        url(../../shared/images/loginRegistrForm/leaves_md@2x.png),
        url(../../shared/images/loginRegistrForm/vector_md.svg);
    }
    background-size: 267px 284px, 500px 427px, 740px 742px, 532px 550px;
    background-repeat: no-repeat;
    background-position: bottom 279px right 0, bottom 0 right 0,
      top 0 right 14px, bottom 0 right 0;
  }
  @include media-query(desktop) {
    padding-top: 306px;
    padding-bottom: 255px;

    background-image: url(../../shared/images/loginRegistrForm/group_lg.png),
      url(../../shared/images/loginRegistrForm/vector_lg.svg);

    @include media-query(retina) {
      background-image: url(../../shared/images/loginRegistrForm/group_lg@2x.png),
        url(../../shared/images/loginRegistrForm/vector_lg.svg);
    }
    background-size: 980px 820px, 602px 816px;
    background-repeat: no-repeat;
    background-position: top 0 right 0;
  }
}

.formTitle {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $color-accent;
  margin-bottom: 60px;
  @include media-query(mobile) {
    text-align: center;
  }
  @include media-query(tablet) {
    text-align: start;
  }
  @include media-query(desktop) {
  }
}
