@import 'shared/styles/';

.headerNav {
  &Container {
    display: flex;
    gap: 16px;
  }
  &Link {
    @extend %title-gonhamProBold;
    color: $font-color-form;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 13px;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    display: none;
    &.active {
      transition: 0.8s;
      color: $color-primary;
    }
    &:hover {
      transition: 0.8s;
      scale: 1.1;
      color: $color-primary;
    }
    @include media-query(desktop) {
      display: block;
    }
  }
}

