@import 'shared/styles/';

.menuContainer {
  display: flex;

  @include media-query(not-desktop) {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;

    flex-direction: column;

    padding: 48px 40px;

    opacity: 1;
    visibility: visible;
    pointer-events: initial;

    z-index: 120;
    background-color: #264061;
  }

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }

  //   @media screen and (min-width: 768px) {
  //     flex-direction: row;
  //     flex-grow: 1;
  //     align-items: center;
  //     justify-content: center;
  //   }
}
