@import '../../common.scss';

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 80px;

  @include media-query(tablet) {
    display: inline-block;
    margin-top: 0px;
  }
}

.input1 {
  border: none;
  border-bottom: 1px solid $style-color-form;
  font-family: 'Verdana';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;
  color: $font-color-form;
  width: 280px;
  padding-bottom: 8px;

  @include media-query(tablet) {
    width: 240px;
    margin-right: 22px;
    margin-bottom: 60px;
  }
}

.input2 {
  border: none;
  border-bottom: 1px solid $style-color-form;
  font-family: 'Verdana';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;
  color: $font-color-form;
  width: 280px;
  padding-bottom: 8px;

  @include media-query(tablet) {
    text-align: right;
    margin-right: 60px;
    width: 107px;
  }
}

.btn1 {
  color: $bg-color-primary;
  background-color: $color-accent;
  font-family: 'Verdana';
  font-style: normal;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 700;
  padding: 13px 46px;
  border-radius: 30px;
  width: 176px;
  height: 44px;
  align-items: center;
  margin: auto;
  margin-top: 60px;
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
  @include media-query(tablet) {
    display: none;
  }
}

.btn2 {
  @include media-query(tablet) {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background-color: $color-accent;
    box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
    background-image: url(../../shared/images/DiaryPage/cross.png);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    top: 15px;
  }
}

.btn:hover,
:focus {
}
