@import 'shared/styles/';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body::-webkit-scrollbar {
  width: 3px; /* ширина всей полосы прокрутки */
  height: 3px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background: #939393;

  border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #dc56c5;
}
